
/STTP_projektas/STTP_projektas/obj
/STTP_projektas/STTP_projektas/obj
/STTP_projektas/STTP_projektas/obj
*.cache
/STTP_projektas/STTP_projektas/obj
/STTP_projektas/STTP_projektas/bin
/STTP_projektas/.idea
/STTP_projektas/.idea
/Frontend/node_modules
/Backend/STTP_projektas/bin
/Backend/STTP_projektas/bin/Debug
/Backend/STTP_projektas/bin/Debug/net8.0
