
/STTP_projektas/STTP_projektas/obj
/STTP_projektas/STTP_projektas/obj
/STTP_projektas/STTP_projektas/obj
*.cache
/STTP_projektas/STTP_projektas/obj
/STTP_projektas/STTP_projektas/bin
/STTP_projektas/.idea
