
/STTP_projektas/STTP_projektas/obj
/STTP_projektas/STTP_projektas/obj
/STTP_projektas/STTP_projektas/obj
*.cache
/STTP_projektas/STTP_projektas/obj
/STTP_projektas/STTP_projektas/bin
/STTP_projektas/.idea
/STTP_projektas/.idea
/Frontend/node_modules
/node_modules
