--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0 (Debian 17.0-1.pgdg120+1)
-- Dumped by pg_dump version 17.0 (Debian 17.0-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Comments" (
    "Id" integer NOT NULL,
    "Description" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "IsBlocked" boolean NOT NULL,
    "IsDeleted" boolean NOT NULL,
    "PostId" integer NOT NULL
);


ALTER TABLE public."Comments" OWNER TO postgres;

--
-- Name: Comments_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Comments" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Comments_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Forums; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Forums" (
    "Id" integer NOT NULL,
    "Title" text NOT NULL,
    "Description" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."Forums" OWNER TO postgres;

--
-- Name: Forums_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Forums" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Forums_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Posts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Posts" (
    "Id" integer NOT NULL,
    "Title" text NOT NULL,
    "Description" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "IsBlocked" boolean NOT NULL,
    "IsDeleted" boolean NOT NULL,
    "ForumId" integer NOT NULL
);


ALTER TABLE public."Posts" OWNER TO postgres;

--
-- Name: Posts_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Posts" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Posts_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Users" (
    "Id" integer NOT NULL,
    "Username" text NOT NULL,
    "Password" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "IsBlocked" boolean NOT NULL,
    "IsDeleted" boolean NOT NULL
);


ALTER TABLE public."Users" OWNER TO postgres;

--
-- Name: Users_Id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Users" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Users_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO postgres;

--
-- Data for Name: Comments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Comments" ("Id", "Description", "CreatedAt", "IsBlocked", "IsDeleted", "PostId") FROM stdin;
1	What a great thread	2024-10-11 00:14:32.818546+00	f	f	3
2	Hi gang	2024-10-11 00:14:45.890758+00	f	f	3
3	Hi gang	2024-10-11 00:14:52.006324+00	f	f	3
6	Mhm thats right	2024-10-11 00:17:07.372049+00	f	f	3
5	Bye my lamest people	2024-10-11 00:15:52.399864+00	f	f	3
\.


--
-- Data for Name: Forums; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Forums" ("Id", "Title", "Description", "CreatedAt") FROM stdin;
4	Movies	A forum about movies	2024-10-10 22:24:40.571141+00
5	Cameras	A forum about cameras	2024-10-10 22:25:40.785418+00
6	Random	A random forum	2024-10-10 22:25:54.363118+00
7	Spam	This is spam	2024-10-10 22:26:03.6128+00
3	Cars	A car forum for real men	2024-10-10 22:24:26.215468+00
\.


--
-- Data for Name: Posts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Posts" ("Id", "Title", "Description", "CreatedAt", "IsBlocked", "IsDeleted", "ForumId") FROM stdin;
1	Hello everyone	This is my first post here. I used to own a car. But not anymore	2024-10-10 22:45:05.240892+00	f	f	3
3	Is this the wrong forum?	I think I posted in the wrong one, nvm	2024-10-11 00:04:57.726128+00	f	f	4
\.


--
-- Data for Name: Users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Users" ("Id", "Username", "Password", "CreatedAt", "IsBlocked", "IsDeleted") FROM stdin;
\.


--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20241010220628_initial structure	8.0.8
20241010221429_InitialCreate	8.0.8
\.


--
-- Name: Comments_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Comments_Id_seq"', 6, true);


--
-- Name: Forums_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Forums_Id_seq"', 8, true);


--
-- Name: Posts_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Posts_Id_seq"', 3, true);


--
-- Name: Users_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Users_Id_seq"', 1, false);


--
-- Name: Comments PK_Comments; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Comments"
    ADD CONSTRAINT "PK_Comments" PRIMARY KEY ("Id");


--
-- Name: Forums PK_Forums; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Forums"
    ADD CONSTRAINT "PK_Forums" PRIMARY KEY ("Id");


--
-- Name: Posts PK_Posts; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Posts"
    ADD CONSTRAINT "PK_Posts" PRIMARY KEY ("Id");


--
-- Name: Users PK_Users; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "PK_Users" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: IX_Comments_PostId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Comments_PostId" ON public."Comments" USING btree ("PostId");


--
-- Name: IX_Posts_ForumId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Posts_ForumId" ON public."Posts" USING btree ("ForumId");


--
-- Name: Comments FK_Comments_Posts_PostId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Comments"
    ADD CONSTRAINT "FK_Comments_Posts_PostId" FOREIGN KEY ("PostId") REFERENCES public."Posts"("Id") ON DELETE CASCADE;


--
-- Name: Posts FK_Posts_Forums_ForumId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Posts"
    ADD CONSTRAINT "FK_Posts_Forums_ForumId" FOREIGN KEY ("ForumId") REFERENCES public."Forums"("Id") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

